<h3>Por Pais</h3>
 
<hr>
 
<!-- formulario para buscar -->
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autcomplete="off">
            <input type='text'
                   name="termino"
                   class="form-control"
                   [(ngModel)]="termino"
                   placeholder="Buscar por pais..."/>
        </form>
    </div>
</div>
 
 
<hr>
 
 
<!-- se muestra en caso que no se encuentre nada-->
<div class="alert alert-danger">
    No se encontro nada con el termino ABC
</div>
 
<!--mostrar los resultados-->
<div class="row">
    <div class="col">
 
            <table class="table table-hover">
                <thead>
                    <tr>#</tr>
                    <tr>Bandera</tr>
                    <tr>Nombre</tr>
                    <tr>Poblacion</tr>
                    <tr>#</tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>dsfs</td>
                        <td>dfds</td>
                        <td>fds</td>
                        <td>fsd</td>
                    </tr>
                </tbody>
                
            </table>
    </div>
</div>

