<h3>Por País</h3>
 
<hr>
 
<!-- formulario para buscar -->
<div class="row">
   <div class="col">
       <form (ngSubmit)="buscar()" autcomplete="off">
           <input type='text'
                  name="termino"
                  class="form-control"
                  [(ngModel)]="termino"
                  placeholder="Buscar por pais..."/>
       </form>
   </div>
</div>
 
 
<hr>
 
 
<!-- se muestra en caso que no se encuentre nada-->
<div *ngIf="hayError" class="alert alert-danger">
   No se encontró nada con el término {{termino}}
</div>
 
 
 
 
 
<!--mostrar los resultados-->
<div *ngIf="paises.length > 0" class="row"> <!-- muestro la tabla solamente si encontró países-->
    <div class="col">
        <table class="table table-hover">
            <thead>
                <td>#</td>
                <td>Bandera</td>
                <td>Nombre</td>
                <td>Poblacion</td>
                <td>#</td>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <img class="small-flag" [src]="pais.flags.png">
                    </td>
                    <td>{{pais.name.official}}</td>
                    <td>{{pais.population | number }}</td>
                    <td>
                        <a [routerLink]="['/pais',pais.cca2]">Ver...</a>
                    </td>
                </tr>
            </tbody>
           
        </table>
    </div>
 </div>
 
